




.login { 

	top: 10%;
	left: 50%;
	
	width:600px;
	height:1000px;
}

.login form{
	height:1000px;
}


.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

